.button_section{
    display: flex;
    flex-direction: column;
    padding: 2rem 0rem;
    gap: 1rem;
    border-bottom: 1px solid $secondary500;

    .muestra_botones{
        display: flex;
        flex-direction: row;
        padding: 2rem 0rem;
        gap: 3rem;
        align-items: center;

        @media (max-width:500px){
            flex-direction: column;
            align-items: flex-start;
        }

        .tipo{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        .icon_show{
            display: flex;
            gap: 2rem;
            @media (max-width:500px){
                display: flex;
                flex-direction: row;
                gap: 1rem;
            }
        }

        .subt{
            display: flex;
            flex-direction: column;
            border-right: 1px solid $secondary500;
            padding-right: 2rem;

            @media (max-width:500px){
                padding-bottom: 1rem;
                border-right: 0px;;
                border-bottom: 1px solid $secondary500;
            }
        }
    } 
}

button, .button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    padding: 1rem;
    border-radius: 1rem;
}

.btn-primary{
   
    &-dark_main{
        background-color: #1c1c1c;
        color: white;
        transition: 300ms;
        

        &:hover{
            cursor: pointer;
            background-color: #1A316A;
            color: white;
            transition: 100ms;
        }

        &:active{
            transform: scale(95%);
            background-color:$primary500;
            box-shadow: 0px 4px 9px rgba(21, 46, 55, 0.41);
            transition: 100ms;
        }
    }

    &-dark_secondary{
        background-color: $primary500;
        color: white;
        transition: 300ms;
        
        &:hover{
            border: 1px solid $primary500;
            cursor: pointer;
            background-color: #1A316A;
            transition: 100ms;
        }
        &:active{
            transform: scale(95%);
            color: $primary500;
            background-color: white;
            transition: 100ms;
        }
    }

    &-light{ 
        background-color: white;
        color: $primary500;

        &:hover{
            cursor: pointer;
            border: 1px solid $primary500;
            transition: 100ms;
        }

        &:active{
            transform: scale(95%);
            transition: 100ms;
        }
    }
}


.btn-icon{
    &-dark_main{
        background-color: #1c1c1c;
        color: white;
        transition: 300ms;

        &:hover{
            cursor: pointer;
            background-color: #1A316A;
            color: white;
            transition: 100ms;
        }

        &:active{
            transform: scale(95%);
            background-color:$primary500;
            box-shadow: 0px 4px 9px rgba(21, 46, 55, 0.41);
            transition: 100ms;
        }
    }
    &-dark_secondary{
        background-color: $primary500;
        color: white;
        transition: 300ms;
    
        &:hover{
            border: 1px solid $primary500;
            cursor: pointer;
            background-color: #1A316A;
            transition: 100ms;
        }

        &:active{
            transform: scale(95%);
            color: $primary500;
            background-color: white;
            transition: 100ms;
        }
    }
    
    &-light{ 
        background-color: white;
        color: $primary500;
       
        &:hover{
            cursor: pointer;
            border: 1px solid $primary500;
            transition: 100ms;
        }

        &:active{
            transform: scale(95%);
            transition: 100ms;
        }
    }
}


.btn-ghost{
    color: white;
    transition: 300ms;
    justify-content: center;
    
    &:hover{
        cursor: pointer;
        background-color: white;
        transition: 100ms;
        color: $primary500;
    }
}