.Cards {
    padding: 2rem 0rem;
    gap: 1rem;
    border-bottom: 1px solid $secondary500;

    .card1_main {
        margin: 1rem 0rem;
        display: flex;
        gap: 2rem;
        width: 65rem;
        height: 100%;
        background-color: $secondary500;
        transition: 400ms;

        @media (max-width:500px){
         flex-direction: column;
         width: 28rem;

         }

        &:hover {
            transform: scale(101%);
            transition: 200ms;
            cursor: pointer;
        }

        .card_img {
            border-left: 1rem solid $primary500;

            img {
                width: 20rem;
                height: 100%;

                @media (max-width:500px){
                    width: 27rem;
                    }
            }
        }
        .card_text {
            gap: 1rem;
            padding: 3rem 1rem;

            @media (max-width:500px){
                padding: 1rem 2rem;
                }

            .text_title {
                h3 {
                    font-weight: 200;
                }

                padding-bottom: 1.5rem;

                .special {
                    font-weight: 100;
                }
            }

            p {
                font-weight: 100;
                max-width: 80%;
            }
        }
        .card_button {
            display: flex;
            align-items: flex-end;
            width: 100%;
            padding: 2rem;
            gap: 1rem;

             p{
                max-width: 100%;
                margin: 0;
            }
        }
    }

    .card1_light {
        margin: 1rem 0rem;
        display: flex;
        gap: 2rem;
        width: 65rem;
        height: 100%;
        background-color: $primary300;
        transition: 400ms;
        border: 1px solid $secondary500;

        @media (max-width:500px){
            flex-direction: column;
            max-width: 28rem;
            }

        &:hover {
            transform: scale(101%);
            transition: 200ms;
            cursor: pointer;
        }

        .card_img {
            border-left: 1rem solid $secondary500;
            @media (max-width:500px){
                height: 100%;
                width: 100%;
                }

            img {
                width: 20rem;
                height: 100%;

                @media (max-width:500px){
                    width: 27rem;
                    height: 100%;
                    }
            }
        }

        .card_text {
            gap: 1rem;
            padding: 3rem 1rem;
            color: $secondary500;

            @media (max-width:500px){
                padding: 1rem 2rem;
                }

            .text_title {
                h3 {
                    font-weight: 200;
                }

                padding-bottom: 1.5rem;

                .special {
                    font-weight: 100;
                }
            }

            p {
                font-weight: 100;
                max-width: 80%;
            }
        }

        .card_button {
            display: flex;
            align-items: flex-end;
            width: 100%;
            padding: 2rem;
            gap: 1rem;

            p {
                max-width: 100%;
                margin: 0;
            }
        }
    }
}
.card_poster {
    display: flex;
    flex-direction: row;
    gap: 3rem;

    @media (max-width:500px){
        flex-direction: column;
    }

    .card_poster_main {
        background-color: $primary500;
        @media (max-width:500px){
            width: 28rem;
         }
        

        .poster_img {
            
            img {
                width: 25rem;
                height: 100%;
                @media (max-width:500px){
                   width: 28rem;
                }
            }
        }

        .poster_info {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 2rem;

            .poster_text {
                h4{
                    font-size: 1.5rem;
                }
            }

            p{
                display: flex;
                height: 2rem;
                font-size: 12px;
                .button{
                    padding: 1rem;
                }
            }
        }
    }

    .card_poster_light {
        background-color: $primary300;
        border: 1px solid $secondary500;
        @media (max-width:500px){
            width: 28rem;
         }

        .poster_img {
            img {
                width: 25rem;
                height: 100%;
                @media (max-width:500px){
                    width: 28rem;
                 }
            }
        }

        .poster_info {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 2rem;

            .poster_text {
                h4{
                    font-size: 1.5rem;
                }
            }

            p{
                display: flex;
                height: 2rem;
                font-size: 12px;

                .button{
                    padding: 1rem;
                }
            }
        }
    }
}