.hero{
    display: flex;
    flex-direction: column;
    gap: 1rem
    ;
    padding: 1rem 1rem 4rem 1rem;
    border-bottom: .5px solid rgb(180, 200, 231);
    margin-bottom: 2rem;

    .responsive-video{
        width: 100%;
        max-width: 900px;
        height: auto;
        border-radius: 2rem;
        transition: 400ms;
        
        &:hover{
            cursor: pointer;
            transform: scale(102%);
            box-shadow: 0 20px 50px rgba(255, 255, 255, 0.041);
        }
    }

    img{
        width: 100%;
        max-width: 1200px;
        height: auto;
        overflow: hidden;
        border-radius: 1rem;
        transition: 300ms;


        &:hover{
            cursor: pointer;
            transform: scale(102%);
            box-shadow: 0 20px 50px rgba(255, 255, 255, 0.041);
        }

        @media (max-width:500px){
            max-width: 300px;
        }


    }
}


.tipografía {

    .Intro {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .st {
            display: flex;
            flex-direction: column;
            margin-left: 1rem;
            gap: 1rem;

        }

        .escala {
            .muestra {
                display: flex;
                align-items: center;
                gap: 2rem;
                padding: 2rem;
                border-bottom: 1px solid $secondary500;
                transition: 500ms;
                border-radius:8px;

                @media (max-width:500px){
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 0.25rem;
                    padding: 2rem 1rem;

                    span{
                        padding: 0rem;
                        padding-right: 1rem;
                    }
                }

                &:hover {
                    background-color: $primary500;
                    cursor: pointer;
                }

                .details {
                    display: flex;
                    flex-direction: row;
                }
            }
        }

        .párrafos {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .ejemplo {
                margin-top: 1rem;
                padding: 2rem 0rem;
                border-bottom: 1px solid $secondary500;
            }
        }
    }

    .css{
        padding: 2rem 0rem;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $secondary400;

        .colores{
            display: flex;
            flex-direction: column;
        }
    }
}

.color {
    margin-top: 2rem;

    .tipos {
        padding: 2rem 0rem;
        border-bottom: 1px solid $secondary500;

        .sec {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            margin-top: 1rem;

            @media (max-width:500px){
                display: flex;
                flex-direction: column;
            }

            .color_bg {
                padding: 4rem;
                border-radius: 9px;
                transition: 400ms;

                &:hover{
                    transform: scale(105%);
                    cursor: pointer;
                    transition: 300ms;
                }
            }

            .color_bgP {
                padding: 5rem 6rem;
                border-radius: 9px;
                transition: 400ms;
                &:hover{
                    transform: scale(105%);
                    cursor: pointer;
                    transition: 300ms;
                }

            }

            .color_bgB {
                padding: 4rem;
                border-radius: 9px;
                border: 1px solid $secondary500;
                transition: 400ms;
                &:hover{
                    transform: scale(105%);
                    transition: 300ms;
                }
            }
        }
    }

    .css{
        padding: 2rem 0rem;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $secondary400;
        .colores{
            display: flex;
            flex-direction: column;
        }
    }
}
.extras{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $secondary400;

    .spacing{
        width: 32rem;
    
            @media (max-width:500px){
                width: 28rem;
                height: 100%;
                }
    }
    .borderRadius{
        display: flex;
        flex-direction: column;
        padding: 2rem 0rem;
        gap: 2rem;

        .eightpx{
            width: 8rem;
            height: 4rem;
            border-radius: .5rem;
            border: 2px solid $primary500;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 400ms;

            &:hover{
                transform: scale(105%);
                box-shadow: 0px 4px 16px rgba(21, 46, 55, 0.3);
                transition: 200ms;
                cursor: pointer;
            }
        }
        .sixteenpx{
            width: 8rem;
            border-radius: 1rem;
            height: 4rem;
            border: 2px solid $primary500;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 400ms;

            &:hover{
                transform: scale(105%);
                box-shadow: 0px 4px 16px rgba(21, 46, 55, 0.3);
                transition: 200ms;
                cursor: pointer;
            }
        }
        .tfourpx{
            width: 8rem;
            border-radius: 1.5rem;
            height: 4rem;
            border: 2px solid $primary500;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 400ms;

            &:hover{
                transform: scale(105%);
                box-shadow: 0px 4px 16px rgba(21, 46, 55, 0.3);
                transition: 200ms;
                cursor: pointer;
            }
        }
        .ttwopx{
            width: 8rem;
            border-radius: 2rem;
            height: 4rem;
            border: 2px solid $primary500;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 400ms;

            &:hover{
                transform: scale(105%);
                box-shadow: 0px 4px 16px rgba(21, 46, 55, 0.3);
                transition: 200ms;
                cursor: pointer;
            }
        }
    }

    .Icons{
        display: flex;
        flex-direction: column;
        padding: 2rem 0rem;
        gap: 1rem;

        .fila{
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }
    }
}