@font-face {
    font-family: "Semi-Bold";
    src: url(../../fonts/Poppins-SemiBold.woff);
}

@font-face {
    font-family: "Light";
    src: url(../../fonts/Poppins-Light.woff);
}

@font-face {
    font-family: "Medium";
    src: url(../../fonts/Poppins-Regular.woff);
}


@font-face {
    font-family: "Helvetica";
    src: url(../../fonts/Poppins-Regular.woff);

}