.Forms{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0rem;
    border-bottom: 1px solid $secondary500;
    .formulario{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem ;
        max-width: 80%;
        .remember{
            .checkbox{
                background-color: $primary300;
                &:active{
                    background-color: $secondary500;
                    color: $primary500;
                }
            }
        }

        .btn_forms{
            display: flex;
            align-items: end;
            gap: 1rem;
            p{
                max-width: 100%;
                a{
                    color: $primary700;
                    &:hover{
                        text-decoration:underline ;
                    }
                    &:active{
                        transform: scale(95%);
                    }
                }
            }
        }
    }
}