.Inputs{
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $secondary400;
    gap: 1rem;
    align-items: flex-start;

}

input{
    font-family: "Helvetica";
    font-size: 0.8rem;
    padding: 0.7rem;
    border-radius: 9px;
}

.input_dark{
    background-color: #04050E;
    color: white;
    transition: 200ms;
    border: 1px solid $primary300;

    &:hover{
        box-shadow: 0px 4px 16px rgba(21, 46, 55, 0.3);
        transition: 200ms;
    }

    &:active{
        color: $primary500;
    }
}

.input_light{
    background-color: $primary300;
    color: $secondary500;
    transition: 200ms;
    border: 1px solid $secondary500;

    &:hover{
        box-shadow: 0px 4px 16px rgba(21, 46, 55, 0.3);
        transition: 200ms;
    }

    &:active{
        color: $secondary400;
    }
}

.input_primary{
    background-color: #111216;
    color: white;
    transition: 200ms;
    border: 1px solid $secondary500;

    &:hover{
        box-shadow: 0px 4px 16px rgba(21, 46, 55, 0.3);
        transition: 200ms;
    }

    &:active{
        color: $secondary400;
    }
}

.badge_show{
    display: flex;
    gap: 2rem;
}

.badge{
    align-items: flex-start;
    padding: 1rem;
    text-align: center;
    border-radius: .5rem;

    &-primary{
        background-color: $primary500;
        color: white;
        cursor: pointer;
    }

    &-dark{
        background-color: $secondary500;
        color: $primary300;
    }
    &-light{
        background-color: $primary300;
        color: $secondary500;
        border: 1px solid $secondary500;
    }

    &-secondary{
        background-color: $secondary400;
        color: $primary700;
    }
}