img{
    max-width: 75vw;
    height: auto;
    overflow: hidden;
    transition: 300ms;


    &:hover {
        cursor: pointer;
        transform: scale(102%);
    }

    @media (max-width:500px) {
        max-width: 90vw;
    }
}

.mock{
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid #fff;

}
