#preloader{
    width: 100vw;
    height: 100vh;
    background: $primary700;
    position: fixed;
    display: grid;
    align-items: center;
    justify-content: center;
}

.prelo_text{
    font-family: "Light";
    color: #fff;
    letter-spacing: 1rem;
    pointer-events: none;
    position: relative;
    top: -4rem;
}

.pace{
    pointer-events: none;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 40vw;
    border: 0;
    height: 1px;
    overflow: hidden;
    background-color: $primary700;

    @media (max-width:500px){
       width: 20vw;
        }

    .pace-progress{
        max-width: 40vw;
        position: absolute;
        z-index: 200;
        top: 0;
        right: 100%;
        height: 100%;
        width: 100%;
        background-color: $primary500;
        }
}