$primary300:#CDDBFF;
$primary400:#6286E5;
$primary500: #0047FF;
$primary600: #1A316A;
$primary700: #04050E;

$secondary300:#e7ecee;
$secondary400:#919697;
$secondary500:#1d1e20;
$secondary600:#111216;

$terciaryOrange:#d50909;
$terciaryGreen: #92C100;